[submodule "components/kd_common"]
	path = components/kd_common
	url = https://github.com/koiosdigital/kd_common
[submodule "components/kd-protobufs"]
	path = components/kd-protobufs
	url = https://github.com/koiosdigital/protobufs
